.layui-footer {
  text-align: center;  /* 底部标签居中 */
  font-size: 12px;
}

.iconfont {
  margin-right: 8px;
}

.layui-icon {
  margin-right: 8px;
  margin-left: 20px;
}

iframe {
  width: 100%; /* 设置内容主题区域的样式 撑满盒子 */
  height: 100%;
}

.layui-body {
  overflow: hidden; /* 干掉外部的滚动条 */
}

a {
  transition: none !important; /* 干掉layui自带的css3链接动画效果 */
}

.userinfo { /* 调整头像和文字位置样式 */
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  user-select: none;/* 禁止文字被选中 */
}

.layui-side-scroll .userinfo {
  border-bottom: 1px solid #282b33;
}

.layui-nav-img {
  width: 40px;
  height: 40px;
}

.text-avatar {  /* 对文本头像的样式设置 */
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #009688;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

#welcome {
    font-size: 12px;
    color: #ccc;
}